@model IEnumerable<Order>

@{
    ViewData["Title"] = "Buyurtmalar ro‘yxati";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}

<h2>Qabul qilingan buyurtmalar ro‘yxati</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Buyurtma ID</th>
            <th>Narx</th>
            <th>Buyurtma sanasi</th>
            <th>Tarkib</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.TotalPrice.ToString("N0")</td>
                <td>@order.OrderDate</td>
                <td>
                    @foreach (var item in order.OrderItems)
                    {
                        <ul style="list-style: none;">
                            <li>@item.Product.Name</li>
                            <li>@String.Format("{0:N0}", item.Product.Price) so'm × @item.Quantity</li>
                            <li>@String.Format("{0:N0}", item.Price) so'm</li>
                        </ul>
                    }
                </td>
                <td><button class="btn btn-danger" onclick="location.href='@Url.Action("UpdateStatus", "Admin")/@order.Id/Cancel'">Bekor qilish</button></td>
                <td><button class="btn btn-success" onclick="location.href='@Url.Action("UpdateStatus", "Admin")/@order.Id/Yetkazilmoqda'">Tayyor</button></td>
            </tr>
        }
    </tbody>
</table>