<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/easy_shop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <div class="header-top">
                <a asp-action="Index" asp-controller="Home" class="logo">
                    <span>Easy</span><span>SHOP</span>
                </a>

                <div class="search-box">
                    <input type="text" id="search-input" class="search-input" placeholder="Mahsulot qidirish..." onkeypress="handleEnter(event)">
                    <button class="search-button" onclick="searchProduct()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

                <div class="header-actions">
                    @* <button class="contact-button" onclick="window.location.href='tel:+998901234567'"> *@
                    @*     <i class="fas fa-phone"></i> *@
                    @*     +998 90 123 45 67 *@
                    @* </button> *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="cart-button" onclick="location.href='@Url.Action("Index", "Cart")'">
                            <i class="fas fa-shopping-cart"></i>
                            Savat
                        </button>
                        <button class="cart-button" onclick="location.href='@Url.Action("Index", "Orders")'">
                            <i class="fa-solid fa-bag-shopping"></i>
                            Buyurtmalarim
                        </button>
                        @if (User.IsInRole("Admin"))
                        {
                            <button class="contact-button" onclick="location.href='@Url.Action("Index", "Admin")'">
                                Admin
                            </button>
                        }
                        <button class="contact-button danger" onclick="location.href='@Url.Action("Logout", "Account")'">
                            Chiqish
                        </button>
                    }
                    else
                    {
                        <button class="contact-button" onclick="location.href='@Url.Action("Login", "Account")'">
                            Kirish
                        </button>
                        <button class="contact-button danger" onclick="location.href='@Url.Action("Register", "Account")'">
                            Ro'yhatdan o'tish
                        </button>
                    }
                </div>
            </div>
        </div>
    </header>
    <nav class="categories-nav">
        <div class="container">
            <ul class="categories-list">
                <li><a asp-controller="Category" asp-action="phone" class="category-link">Telefonlar</a></li>
                <li><a asp-controller="Category" asp-action="laptop" class="category-link">Kompyuterlar</a></li>
                <li><a asp-controller="Category" asp-action="clothes" class="category-link">Kiyim-kechaklar</a></li>
                <li><a asp-controller="Category" asp-action="watch" class="category-link">Soatlar</a></li>
                <li><a asp-controller="Category" asp-action="food" class="category-link">Oziq-ovqatlar</a></li>
                <li><a asp-controller="Category" asp-action="home" class="category-link">Uy anjomlari</a></li>
                <li><a asp-controller="Category" asp-action="book" class="category-link">Kitoblar</a></li>
                <li><a asp-controller="Category" asp-action="tech" class="category-link">Maishiy texnika</a></li>
            </ul>
        </div>
    </nav>



    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer style="margin-top: 40px; padding: 20px 0px">
        <div class="container">
            <div style="border-top: solid 1px grey; margin-bottom: 20px"></div>
            &copy; 2025 - easy_shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
