@model Product
@using System.Security.Claims @{ var userId = User.FindFirstValue(ClaimTypes.NameIdentifier); }

@{
    ViewData["Title"] = Model != null ? Model.Name : "Maxsulot topilmadi";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}
@if (Model != null)
{
    <div class="product-box">
        <div class="product-left">
            <h1>@Model.Name</h1>
            <img src="../../@Model.ImageUrl" alt="maxsulot rasmi" class="product-image">
            <h3>Mahsulot tavsifi</h3>
            <p>@Model.Description</p>
        </div>
        <div class="product-right">
            <div class="box">
                <h2>@Math.Round(@Model.Price).ToString("N0").Replace(',', ' ') so'm</h2>
                <p style="display: flex; align-items: center;">
                    <i class="fa-solid fa-square-check" style="color: #0d6efd; font-size: 30px; margin-right: 5px;"></i>
                    @Model.Available dona xarid qilish mumkin
                </p>

                <div id="add-cart" class="add-cart">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-dark" onclick="removeToCart(@Model.Id)">-</button>
                        <div id="item-count" class="btn btn-outline-dark" style="background: #fff;">@ViewBag.Quantity</div>
                        <button type="button" class="btn btn-outline-dark" onclick="addToCartOne(@Model.Id, @Model.Available)">+</button>
                    </div>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Cart")'">Savatga <br>o'tish</button>
                </div>

                @if (Model.Available > 0)
                {
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button id="add-cart-btn" class="btn btn-primary" onclick="addToCart(@Model.Id, @ViewBag.Quantity, true)">
                            <i class="fas fa-shopping-cart"></i>
                            Savatga qo'shish
                        </button>
                    }
                    else
                    {
                        <button id="add-cart-btn" class="btn btn-primary" onclick="addToCart()">
                            <i class="fas fa-shopping-cart"></i>
                            Savatga qo'shish
                        </button>
                    }
                }
                else
                {
                    <button id="add-cart-btn" class="btn btn-primary disabled" onclick="addToCart(@Model.Id, true)">
                        <i class="fas fa-shopping-cart"></i>
                        Savatga qo'shish
                    </button>
                }
                
                
            </div>
            <div class="box">
                <h6>Yetkazib berish 1 kundan boshlab</h6>
                <p class="light">Buyurtmalarni kuryer uyingizgacha yetkazib beradi</p>
                <hr/>
                <h6>Qulay usulda to'lov</h6>
                <p class="light">Karta orqali yoki naqd pulda</p>
                <hr/>
                <h6>Qaytarib olish kafolati bilan</h6>
                <p class="light" style="margin-bottom: 0px;">Tovarlarni 10 kun ichida qabul qilamiz va darhol pulini qaytaramiz.</p>
            </div>
        </div>
    </div>
}
else
{
    <h1>Maxsulot topilmadi</h1>
}

<script src="~/js/cart.js" asp-append-version="true"></script>