@model List<Order>

@{
    ViewData["Title"] = "Buyurtmalarim";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Buyurtma IDsi</th>
                <th>Narx</th>
                <th>Holati</th>
                <th>Buyurtma sanasi</th>
                <th>Yetkazish manzili</th>
                <th>To'lov turi</th>
                <th>Tarkib</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.TotalPrice.ToString("N0")</td>
                    <td>@order.Status</td>
                    <td>@order.OrderDate</td>
                    <td>
                        <a href='https://www.google.com/maps/place/@order.Location.Split(", ")[0]+@order.Location.Split(", ")[1]'>
                            Yetkazish manzili
                        </a>
                    </td>
                    <td>@order.PaymentStatus</td>
                    <td>
                        @foreach (var item in order.OrderItems)
                        {
                            <ul style="list-style: none;">
                                <li>@item.Product.Name</li>
                                <li>@String.Format("{0:N0}", item.Product.Price) so'm × @item.Quantity</li>
                                <li>@String.Format("{0:N0}", item.Price) so'm</li>
                            </ul>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}